com.solertium.gogoego.server/src/com/solertium/gogoego/server/lib/app/exporter/schemas/config.xsd

<xs:schema xmlns:xs = "http://www.w3.org/2001/XMLSchema">

<xs:element name="root" type="Root" />

<xs:complexType name="Root">
	<xs:sequence>
		<xs:element name="exporter" type="ExporterDeclaration" minOccurs="0" maxOccurs="unbounded"/>
	</xs:sequence>
</xs:complexType>

<xs:complexType name="ExporterDeclaration">
	<xs:simpleContent>
		<xs:extension base="xs:string">
			<xs:attribute name="id" type="xs:string" use="required" />
			<xs:attribute name="enabled" type="xs:boolean" use="optional" />
		</xs:extension>
	</xs:simpleContent>
</xs:complexType>

</xs:schema>